html {
    height: 100%;
}

body {
    background-color: black;
}

.line {
    width: 1px;
    height: 20px;
    background: white;
    margin: 3px;
    position: fixed;
    top: 0;
    left: 2px;
    animation: moverain 2s infinite;
}

.lineTwo {
    width: 1px;
    height: 20px;
    background: white;
    margin: 20px;
    position: fixed;
    top: 0;
    left: 2px;
    animation: moverain 2s infinite;
}

.lineThree {
    width: 1px;
    height: 20px;
    background: white;
    margin: 40px;
    position: fixed;
    top: 0;
    left: 2px;
    animation: moverain 2s infinite;
}

.lineFourth {
    width: 1px;
    height: 20px;
    background: white;
    margin: 60px;
    position: fixed;
    top: 0;
    left: 2px;
    animation: moverain 2s infinite;
}

#createDiv {
    flex: 1;
}

#createSecondDiv {
    margin-left: 200px;
}

#createThirdDiv {
    margin-left: 200px;
}

#createFourthDiv {
    margin-left: 200px;
}

@keyframes moverain {
    from {
        top: 0px;
    }
    to {
        top: 500px;
    }
}

#maindiv {
    display: flex;
}